*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#navbar{
    position: sticky;
    top: 0;
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a {
    color:black;
    padding: 0.75rem;
    margin : 0 0.25rem;
    text-decoration: none;
}
.nav{
display: grid;
grid-template-columns: 65% 33%;

}
.nav .left{
    /* background: red; */
    font-size: 36px;
    /* margin: 1rem ; */
    padding: 0.2rem;
    margin: 2.2rem 0 .2rem 2.8rem;
}
.nav .right{
    /* background: green; */
    margin: 3.4rem;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    align-items:center;
}
#navbar ul li a:hover{
    text-decoration: underline;
}
.material{
    margin: 1rem 4rem 1rem 8rem;
    font-size:24px;
    line-height:.6cm;
}
.content{
    display:grid;
    grid-template-columns: 49% 49%;
}
.content .img img{
    height:550px;
    width:550px;
    margin: 1.4rem 1rem 1rem 2rem;
}
.content .para{
    font-size:26px;
    margin: 19.4rem 0 1rem 3.4rem;
    line-height: 1cm;
    padding-left: 8px;
}
.project{
    background-color:black;
}
.project .upper{
    padding: 2rem;
}
.project .upper .left {
    text-align: center;
    display:flex;   
    justify-content: center;
    align-items: center;
    font-size:40px;
    padding: 2rem;
    height:400px;
    width: 500px;
    background-color: yellow;
    color: darkblue;
    margin: 2rem 1rem 1rem 4rem;
  
}
.project .upper .left:hover{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes example {
    from {height:400px;
        width:500px;
    }
    to {height:300px;
    width:300px;
font-size:56px;}
  }


@media only screen and (max-width: 600px) {
    .nav{
        display: block;
        }
         .nav .right{
            /* background: green; */
            margin: 1.8rem;
            font-size: 20px;
            display: flex;
            justify-content:space-between;
            /* flex-direction: row-reverse; */
            align-items:center;
        }
         .nav .left{
            font-size: 24px;
            margin: 1.4rem;
        }
        .material{
            margin: 1rem;
            padding:1.2px;
            font-size:16px;
            line-height:.4cm;
        }
        .content{
            display: block;
        }
        .content .img{
            margin:2px;
        }
        .content .img img{
            height: 280px;
            width: 280px;
        }
        .content .para{
            margin:-4px 1px 1px 1.4px;
            font-size:16px;
            padding: 2rem;
            line-height:.6cm;
        }
}