*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* #navbar{
    display: flex;   
    color:black;
    justify-content: space-between;
    z-index: 1;
    padding: 0.8%;
} */
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a {
    color:black;
    padding: 0.75rem;
    margin : 0 0.25rem;
    text-decoration: none;
}
.nav{
display: grid;
grid-template-columns: 65% 33%;
position: sticky;
}
    .left{
    /* background: red; */
    font-size: 36px;
    /* margin: 1rem ; */
    padding: 0.2rem;
    margin: 2.2rem 0 .2rem 2.8rem;
}
.right{
    /* background: green; */
    margin: 3.4rem;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    align-items:center;
}
#navbar ul li a:hover{
    text-decoration: underline;
}
.material{
    margin: 1rem 4rem 1rem 8rem;
    font-size:24px;
    line-height:.6cm;
}





@media only screen and (max-width: 600px) {
    .nav{
        display: block;
        }
        .right{
            /* background: green; */
            margin: 1.8rem;
            font-size: 20px;
            display: flex;
            justify-content:space-between;
            /* flex-direction: row-reverse; */
            align-items:center;
        }
        .left{
            font-size: 24px;
            margin: 1.4rem;
        }
        .material{
            margin: 1rem;
            padding:1.2px;
            font-size:16px;
            line-height:.4cm;
        }
}