*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

#navbar{
    position: sticky;
    top: 0;
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a {
    color:black;
    padding: 0.75rem;
    margin : 0 0.25rem;
    text-decoration: none;
}
.nav{
display: grid;
grid-template-columns: 65% 33%;

}
.nav .left{
    /* background: red; */
    font-size: 36px;
    /* margin: 1rem ; */
    padding: 0.2rem;
    margin: 2.2rem 0 .2rem 2.8rem;
}
.nav .right{
    /* background: green; */
    margin: 3.4rem;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    align-items:center;
}
#navbar ul li a:hover{
    text-decoration: underline;
}
.material{
    margin: 1rem 4rem 1rem 8rem;
    font-size:24px;
    line-height:.6cm;
}
.animation{
    display: flex;
}
.animation p span{
    font-size: 6rem;
    color:black;
    font-weight: 500;
    display: inline-block;
    padding: 3rem 14rem 10rem 4rem;

    
    display: none;
}

.animation p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.animation p span.text-out{
	animation: textOut .5s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}
.right-animation p{
    font-weight:600;
    font-size:  12rem;
}
.content{
    display:grid;
    grid-template-columns: 50% 50%;
}
.content .img img{
    height:550px;
    width:550px;
    margin: 1.4rem .8rem 1rem 2rem;
}
.content .para{
    font-size:26px;
    margin: 19.4rem 0 1rem 3.4rem;
    line-height: 1cm;
    padding-left: 6px;
    padding-right: 2.4px;
    margin-right: 3.6rem;
}
.project{
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: nowrap;
width: 100%;
    padding:2rem;
}
.projec{
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: nowrap;
    padding:2rem;
    width:100%;
}
.project .upper{
    padding: 2rem;
    display: grid;
    grid-template-columns: 48% 48%;
}
.project .upper .left {
    text-align: center;
    display:flex;   
    justify-content: center;
    align-items: center;
    font-size:40px;
     height:400px;
    width: 500px;
    background-color: yellow;
    color: darkblue;
    /* margin: 2rem 1rem 1rem 4rem; */
    padding:2rem;
    margin: 2rem;
margin-left: 2.4rem;  
}
.project .upper .left:hover{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes example {
    from {height:400px;
        width:500px;
    }
    to {height:350px;
    width:425px;
font-size:56px;}
  }
.project .upper .right {
    text-align: center;
    display:flex;   
    justify-content: center;
    align-items: center;
    font-size:40px;
    padding: 2rem;
    height:440px;
    width: 540px;
    background-color:darkblue;
    color: white;
    margin-left: 1rem;
    margin: 2rem;
    /* margin: 2rem 3rem 1rem 4rem; */
  
}
.project .upper .right:hover{
    animation-name: exampl;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes exampl {
    from {height:440px;
        width:540px;
    }
    to {height:360px;
    width:460px;
font-size:56px;}
  }

.projec{
    background-color:black;
}
.projec .down{
    padding: 2rem;
    display: grid;
    grid-template-columns: 48% 48%;
}
.projec .down .left {
    text-align: center;
    display:flex;   
    justify-content: center;
    align-items: center;
    font-size:40px;
     height:440px;
    width: 540px;
    background-color: darkblue;
    color: white;
    margin-top: -2.6rem !important;
    /* margin: 2rem 1rem 1rem 4rem; */
    padding:2rem;
    margin: 2rem;
margin-left: 2rem;  
}
.projec .down .left:hover{
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes example2 {
    from {height:440px;
        width:540px;
    }
    to {height:360px;
    width:460px;
font-size:56px;}
  }
.projec .down .right {
    text-align: center;
    display:flex;   
    justify-content: center;
    align-items: center;
    font-size:40px;
    padding: 2rem;
    height:400px;
    width: 500px;
    background-color: yellow;
    color: darkblue;
    margin-left: 3.2rem !important;
    
    margin: 2.4rem;
    margin-top: -2.6rem;
    /* margin: 2rem 3rem 1rem 4rem; */
  
}
.projec .down .right:hover{
    animation-name: example3;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes example3 {
    from {height:400px;
        width:500px;
    }
    to {height:350px;
    width:425px;
font-size:56px;}
  }
  .design{
      background-color:#dbdbdb;
      color:black;
      height:13.5rem;
      width:100%;

  }
  .design p{
      font-size:22px;
      padding-left: 4rem;
      padding-top: 6rem;
  }
  .desig{
    background-color:#dbdbdb;
    color:#9a9a9a;
    height:13.5rem;
    width:100%;
  }
  .desig{
      display:flex;
      justify-content: space-between;
    font-size:32px;
    padding-left: 4rem;
    padding-top: 6rem;
    padding-right: 3rem;
}
.desig:hover{
    color:black;
    background-image: url(../images/bgggg.jpg);
}


@media only screen and (max-width: 600px) {
    .nav{
        display: block;
        }
         .nav .right{
            /* background: green; */
            margin: 1.8rem;
            font-size: 20px;
            display: flex;
            justify-content:space-between;
            /* flex-direction: row-reverse; */
            align-items:center;
        }
         .nav .left{
            font-size: 24px;
            margin: 1.4rem;
        }
        .material{
            margin: 1rem;
            padding:1.2px;
            font-size:16px;
            line-height:.4cm;
        }
        .content{
            display: block;
        }
        .content .img{
            margin:2px;
        }
        .content .img img{
            height: 280px;
            width: 280px;
        }
        .content .para{
            margin:-4px 1px 1px 1.4px;
            font-size:16px;
            padding: 2rem;
            line-height:.6cm;
        }
        .project .upper{
            display: block;
        }
        .projec .down{
            display: block;
            margin-top:-3rem;
        }
        .projec .down .right,.projec .down .left,.project .upper .right,.project .upper .left{
            height:400px;
            width:400px;
        }
        @keyframes example2 {
            from {height:400px;
                width:400px;
            }
            to {height:350px;
            width:350px;
        font-size:56px;}
          }
        @keyframes example3 {
            from {height:400px;
                width:400px;
            }
            to {height:350px;
            width:350px;
        font-size:56px;}
          }
        @keyframes exampl {
            from {height:400px;
                width:400px;
            }
            to {height:350px;
            width:350px;
        font-size:56px;}
          }
        @keyframes example {
            from {height:400px;
                width:400px;
            }
            to {height:350px;
            width:350px;
        font-size:56px;}
          }
          .projec .down .right{
              margin-top:2rem;
          }
          .projec .down .left{
              margin-left:3rem;
          }
          .project .upper .right{
              margin-left: 2.4rem;
          }
}